ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.active{
    color: red;
    background-color: yellow;
    text-decoration: none;
    padding: 10px;
}